---
import PageLayout from '@layouts/PageLayout.astro';
import BlogListing from '@components/post/BlogListing.astro';
import FinalCtaSection from '@components/shared/FinalCtaSection.astro';
import { postUi } from '@/data/posts';
import { breadcrumbTrails } from '@/lib/breadcrumb';
---
<PageLayout
  title={postUi.metaTitle}
  description={postUi.metaDescription}
  breadcrumbs={breadcrumbTrails.blog('fr')}
  activeHref="/blog/"
  robots="noindex, follow"
>
  <main>
    <BlogListing />
    <FinalCtaSection />
  </main>
</PageLayout>
