---
import PageLayout from '@layouts/PageLayout.astro';
import BlogListing from '@components/post/BlogListing.astro';
import FinalCtaSection from '@components/shared/FinalCtaSection.astro';
import { postUiEn } from '@/data/posts';
import { breadcrumbTrails } from '@/lib/breadcrumb';
---
<PageLayout
  lang="en-CA"
  title={postUiEn.metaTitle}
  description={postUiEn.metaDescription}
  breadcrumbs={breadcrumbTrails.blog('en')}
  activeHref="/en/blog/"
>
  <main>
    <BlogListing lang="en" />
    <FinalCtaSection />
  </main>
</PageLayout>
