---
import PageLayout from '@layouts/PageLayout.astro';
import BlogListing from '@components/post/BlogListing.astro';
import FinalCtaSection from '@components/shared/FinalCtaSection.astro';
import { siteConfig } from '@/config/site';
import { postUiEn } from '@/data/posts';
import { breadcrumbTrails } from '@/lib/breadcrumb';
---
<PageLayout
  lang="en-CA"
  title={`${postUiEn.listTitle} | ${siteConfig.siteName}`}
  description={postUiEn.listSubtitle}
  breadcrumbs={breadcrumbTrails.blog('en')}
  activeHref="/en/blog/"
>
  <main>
    <BlogListing lang="en" />
    <FinalCtaSection />
  </main>
</PageLayout>
